<!-- templates/footer.html -->
    <hr>
    <footer class="py-5 px-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5>Company</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>Products</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Overview</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Instance</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">DevOps Roles</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Kubernetes</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">IoT</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>Contact</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Support</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sales</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Report Abuse</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">System Status</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Share your ideas</a></li>
          </ul>
        </div>
  
        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of what's new and exciting from us.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </form>
            <div class="d-flex justify-content-center justify-content-md-start mt-3 mt-md-0 pt-3">
                <a class="link-body-emphasis ms-3" href="#" aria-label="Twitter"><i class="fab fa-twitter fa-2x"></i></a>
                <a class="link-body-emphasis ms-3" href="#" aria-label="Instagram"><i class="fab fa-instagram fa-2x"></i></a>
                <a class="link-body-emphasis ms-3" href="#" aria-label="LinkedIn"><i class="fab fa-linkedin fa-2x"></i></a>
                <a class="link-body-emphasis ms-3" href="#" aria-label="YouTube"><i class="fab fa-youtube fa-2x"></i></a>
                <a class="link-body-emphasis ms-3" href="#" aria-label="Facebook"><i class="fab fa-facebook fa-2x"></i></a>
                <a class="link-body-emphasis ms-3" href="#" aria-label="GitHub"><i class="fab fa-github fa-2x"></i></a>
                <a class="link-body-emphasis ms-3" href="#" aria-label="DEV"><i class="fab fa-dev fa-2x"></i></a>
                <a class="link-body-emphasis ms-3" href="#" aria-label="Discord"><i class="fab fa-discord fa-2x"></i></a>
            </div>
        </div>
      </div>
  
    <div class="d-flex flex-column flex-sm-row justify-content-between border-top pt-3 mt-3">
        <p>© 2024, Paulco Cloud, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex flex-column flex-sm-row">
            <li class="ms-0 ms-sm-3"><a class="link-body-emphasis" href="#">Privacy</a></li>
            <li class="ms-0 ms-sm-3"><a class="link-body-emphasis" href="#">Terms</a></li>
            <li class="ms-0 ms-sm-3"><a class="link-body-emphasis" href="#">Support</a></li>
        </ul>
    </div>
    </footer>
